@charset "utf-8";
/* CSS Document */


/* body & container */
body{
    font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
    text-align: left;
    font-size: 1.2em;
    color: #333333;
    margin: 0;
    padding: 0;
    height: 98vh;
}
body::before{
    content: '';
    display: block;
    height: 2vh;
    width: 100vw;
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#container {
    display: flex;
    flex-flow: column;
    margin: auto 30px;
    padding: auto 30px;
    height: 96vh;
}


/* input & submit */
input{
    border-radius: 10px;
}
.input_text{
    width: 340px;
    height: 40px;
    padding-left: 10px;
    font-size: 1.1em;
}
.input_submit{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #ffffff;
    background-image: linear-gradient(45deg, #efc10e 0%, #ef8b5f 100%);
    transition: 0.3s;
}
.input_submit:hover{
    background-image: linear-gradient(45deg, #efc10e 0%, #f86a25 100%);
}


/* table */
div.divTable{
/* table { */
    display: inline-block;
    text-align: left;
}
table{
    margin-bottom: 15px;
}
caption{
    text-align: left;
    margin: 0 30px 5px;
    font-weight: bold;
}
td p{
    margin: 0 50px 5px;
    font-size: 0.8em;
    font-weight: bold;
}


/* others */
p#topDescription{
    margin-top: 0;
}
a{
    text-decoration: none;
}
a:hover{
    border-bottom: 1px solid blue;
}
